    <!-- slider wrapper start -->
<div class="main_slider_wrapper slider-area">
    <div class="slider_side_width"></div>
    <div class="slider_headphone">
        <img src="~/images/headphone.png" class="img-responsive" alt="img">
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-captions caption-1">
                    <div class="container jn_container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h1 data-animation="animated fadeInUp">sound,</h1>

                                    <h2 data-animation="animated fadeInUp">your world</h2>
                                    <p data-animation="animated fadeInUp">
                                        Even while listening to music, simply say “Olivia”
                                        <br> to interact with Olivia.
                                    </p>
                                    <div class="slider_btn m24_cover">
                                        <div class="lang_apply_btn">
                                            <ul>
                                                <li data-animation="animated fadeInUp">
                                                    <a href="#"> <i class="flaticon-play-button"></i>browse</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="content_img_wrapper">
                                    <img src="~/images/banner2.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-captions caption-2">
                    <div class="container jn_container">
                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h1 data-animation="animated fadeInUp">sound,</h1>

                                    <h2 data-animation="animated fadeInUp">your world</h2>
                                    <p data-animation="animated fadeInUp">
                                        Even while listening to music, simply say “Olivia”
                                        <br> to interact with Olivia.
                                    </p>
                                    <div class="slider_btn m24_cover">
                                        <div class="lang_apply_btn">
                                            <ul>
                                                <li data-animation="animated fadeInUp">
                                                    <a href="#"> <i class="flaticon-play-button"></i>browse</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="content_img_wrapper">
                                    <img src="~/images/banner.jpg" alt="img">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                    <span class="number"></span>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                    <span class="number"></span>
                </li>
            </ol>
            <div class="carousel-nevigation">
                <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span> prev</span> <i class="flaticon-arrow-1"></i>
                </a>
                <a class="next" href="#carousel-example-generic" role="button" data-slide="next">
                    <span> next</span> <i class="flaticon-arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!--slider wrapper end-->
<!-- treanding song wrapper start -->
<div class="treanding_songs_wrapper treanding_index_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="m24_heading_wrapper">
                    <h1>@UIResource.TreandingSongs</h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="treanding_song_slider">
                    <div class="owl-carousel owl-theme">
                        <div class="item">

                            <div class="treanding_slider_main_box m24_cover">
                                <img src="~/images/ms1.jpg" alt="img">
                                <div class="m24_treanding_box_overlay">
                                    <div class="m24_tranding_box_overlay"></div>
                                    <div class="m24_tranding_more_icon">
                                        <i class="flaticon-menu"></i>
                                    </div>
                                    <ul class="tranding_more_option">
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                    </ul>
                                    <div class="tranding_play_icon">
                                        <a href="#">
                                            <i class="flaticon-play-button"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="treanding_slider_main_box m24_cover">
                                <img src="~/images/ms2.jpg" alt="img">
                                <div class="m24_treanding_box_overlay">
                                    <div class="m24_tranding_box_overlay"></div>
                                    <div class="m24_tranding_more_icon">
                                        <i class="flaticon-menu"></i>
                                    </div>
                                    <ul class="tranding_more_option">
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                    </ul>
                                    <div class="tranding_play_icon">
                                        <a href="#">
                                            <i class="flaticon-play-button"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="treanding_slider_main_box m24_cover">
                                <img src="~/images/ms3.jpg" alt="img">
                                <div class="m24_treanding_box_overlay">
                                    <div class="m24_tranding_box_overlay"></div>
                                    <div class="m24_tranding_more_icon">
                                        <i class="flaticon-menu"></i>
                                    </div>
                                    <ul class="tranding_more_option">
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                        <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                    </ul>
                                    <div class="tranding_play_icon">
                                        <a href="#">
                                            <i class="flaticon-play-button"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- treanding song wrapper end -->
<!-- release album wrapper start -->
<div class="treanding_songs_wrapper release_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="m24_heading_wrapper">
                    <h1>
                        @UIResource.NewReleasesAlbums
                    </h1>
                </div>
                <div class="relaese_viewall_wrapper">
                    <a href="#">@UIResource.SeeAll <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pd1">
                                <div class="treanding_slider_main_box release_box_main_content m24_cover">
                                    <img src="~/images/rel.png" alt="img">
                                    <div class="release_content_artist">
                                        <p><a href="#">Jabariya Jodi</a></p>
                                        <p class="various_artist_text"><a href="#">Various Artists</a></p>
                                    </div>
                                    <div class="m24_treanding_box_overlay release_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pd1">
                                <div class="treanding_slider_main_box release_box_main_content m24_cover">
                                    <img src="~/images/rel.png" alt="img">
                                    <div class="release_content_artist">
                                        <p><a href="#">Jabariya Jodi</a></p>
                                        <p class="various_artist_text"><a href="#">Various Artists</a></p>
                                    </div>
                                    <div class="m24_treanding_box_overlay release_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pd1">
                                <div class="treanding_slider_main_box release_box_main_content m24_cover">
                                    <img src="~/images/rel.png" alt="img">
                                    <div class="release_content_artist">
                                        <p><a href="#">Jabariya Jodi</a></p>
                                        <p class="various_artist_text"><a href="#">Various Artists</a></p>
                                    </div>
                                    <div class="m24_treanding_box_overlay release_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pd1">
                                <div class="treanding_slider_main_box release_box_main_content m24_cover">
                                    <img src="~/images/rel.png" alt="img">
                                    <div class="release_content_artist">
                                        <p><a href="#">Jabariya Jodi</a></p>
                                        <p class="various_artist_text"><a href="#">Various Artists</a></p>
                                    </div>
                                    <div class="m24_treanding_box_overlay release_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- release album wrapper end -->
<!-- addvertisment wrapper start -->
<div class="add_banner_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="add_banner_img_wrapper m24_cover">
                    <a href="http://fb.com/gurbanov"><img src="~/images/add2.png" class="img-responsive" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- addvertisment wrapper end -->
<!-- top songs wrapper start -->
<div class="top_songs_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="song_heading_wrapper m24_cover">
                    <div class="m24_heading_wrapper">
                        <h1>@UIResource.TopSongs</h1>
                    </div>
                    <div class="relaese_viewall_wrapper">
                        <a href="#">@UIResource.SeeAll <i class="flaticon-right-arrow"></i></a>
                    </div>
                    <div class="top_songs_list m24_cover">
                        <div class="top_songs_list_left">
                            <div class="treanding_slider_main_box top_lis_left_content">
                                <div class="top_songs_list0img">
                                    <img src="~/images/tp1.png" alt="img">
                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>

                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="release_content_artist top_list_content_artist">
                                    <p><a href="#">Let me Love You</a></p>
                                    <p class="various_artist_text"><a href="#">Auguste Rodin</a></p>
                                </div>

                            </div>
                            <div class="top_list_tract_time">
                                <p>4:22</p>
                            </div>
                        </div>
                        <div class="top_songs_list_right">
                            <div class="top_list_tract_view">
                                <p>8M+ View</p>
                            </div>
                            <div class="top_song_list_picks">
                                <div class="m24_tranding_more_icon">
                                    <i class="flaticon-menu"></i>
                                </div>
                                <ul class="tranding_more_option">
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top_songs_list m24_cover">
                        <div class="top_songs_list_left">
                            <div class="treanding_slider_main_box top_lis_left_content">
                                <div class="top_songs_list0img">
                                    <img src="~/images/tp1.png" alt="img">
                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>

                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="release_content_artist top_list_content_artist">
                                    <p><a href="#">Let me Love You</a></p>
                                    <p class="various_artist_text"><a href="#">Auguste Rodin</a></p>
                                </div>

                            </div>
                            <div class="top_list_tract_time">
                                <p>4:22</p>
                            </div>
                        </div>
                        <div class="top_songs_list_right">
                            <div class="top_list_tract_view">
                                <p>8M+ View</p>
                            </div>
                            <div class="top_song_list_picks">
                                <div class="m24_tranding_more_icon">
                                    <i class="flaticon-menu"></i>
                                </div>
                                <ul class="tranding_more_option">
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top_songs_list m24_cover">
                        <div class="top_songs_list_left">
                            <div class="treanding_slider_main_box top_lis_left_content">
                                <div class="top_songs_list0img">
                                    <img src="~/images/tp1.png" alt="img">
                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>

                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="release_content_artist top_list_content_artist">
                                    <p><a href="#">Let me Love You</a></p>
                                    <p class="various_artist_text"><a href="#">Auguste Rodin</a></p>
                                </div>

                            </div>
                            <div class="top_list_tract_time">
                                <p>4:22</p>
                            </div>
                        </div>
                        <div class="top_songs_list_right">
                            <div class="top_list_tract_view">
                                <p>8M+ View</p>
                            </div>
                            <div class="top_song_list_picks">
                                <div class="m24_tranding_more_icon">
                                    <i class="flaticon-menu"></i>
                                </div>
                                <ul class="tranding_more_option">
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top_songs_list m24_cover">
                        <div class="top_songs_list_left">
                            <div class="treanding_slider_main_box top_lis_left_content">
                                <div class="top_songs_list0img">
                                    <img src="~/images/tp1.png" alt="img">
                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>

                                        <div class="tranding_play_icon">
                                            <a href="#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="release_content_artist top_list_content_artist">
                                    <p><a href="#">Let me Love You</a></p>
                                    <p class="various_artist_text"><a href="#">Auguste Rodin</a></p>
                                </div>

                            </div>
                            <div class="top_list_tract_time">
                                <p>4:22</p>
                            </div>
                        </div>
                        <div class="top_songs_list_right">
                            <div class="top_list_tract_view">
                                <p>8M+ View</p>
                            </div>
                            <div class="top_song_list_picks">
                                <div class="m24_tranding_more_icon">
                                    <i class="flaticon-menu"></i>
                                </div>
                                <ul class="tranding_more_option">
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                    <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">

                <div class="m24_heading_wrapper">
                    <h1>@UIResource.FeaturedArtists</h1>
                </div>

                <div class="featured_song_slider">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="featured_artist_list m24_cover">
                                <img src="~/images/fa1.png" class="img-responsive" alt="img">
                                <div class="featured_artist_detail">
                                    <p><a href="#">Rihanna Fenty </a></p>
                                    <p class="various_artist_text"><a href="#">51 tracks</a> 8M+ View</p>
                                    <div class="lang_apply_btn">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="flaticon-play-button"></i>play now</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="top_song_list_picks featured_list_dropdown">
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="featured_artist_list m24_cover">
                                <img src="~/images/fa1.png" class="img-responsive" alt="img">
                                <div class="featured_artist_detail">
                                    <p><a href="#">Rihanna Fenty </a></p>
                                    <p class="various_artist_text"><a href="#">51 tracks</a> 8M+ View</p>
                                    <div class="lang_apply_btn">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="flaticon-play-button"></i>play now</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="top_song_list_picks featured_list_dropdown">
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>@UIResource.AddToPlaylist</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>@UIResource.Favourite</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>@UIResource.Share</a></li>
                                            <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>@UIResource.Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top songs wrapper end -->
<!-- addvertisment wrapper start -->
<div class="add_banner_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="add_banner_img_wrapper m24_cover">
                    <a href="#"><img src="~/images/add7.png" class="img-responsive" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- addvertisment wrapper end -->
<!-- blog wrapper start -->
<div class="blog_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="m24_heading_wrapper">
                    <h1>
                        latest from blog
                    </h1>
                </div>
                <div class="relaese_viewall_wrapper">
                    <a href="#"> view all <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="featured_artist_list blog_img_content m24_cover">
                    <img src="~/images/blog1.png" class="img-responsive" alt="img">
                    <div class="featured_artist_detail blog_content_box">
                        <span> <i class="flaticon-calendar"></i>3 May, 2019</span>
                        <p>
                            <a href="#">
                                Celebrating Winter Holidays
                            </a>
                        </p>
                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do this dolor sit..</p>

                        <a href="#">@UIResource.ReadMore</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="featured_artist_list blog_img_content m24_cover">
                    <img src="~/images/blog1.png" class="img-responsive" alt="img">
                    <div class="featured_artist_detail blog_content_box">
                        <span> <i class="flaticon-calendar"></i>3 May, 2019</span>
                        <p>
                            <a href="#">
                                Celebrating Winter Holidays
                            </a>
                        </p>
                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do this dolor sit..</p>

                        <a href="#">@UIResource.ReadMore</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog wrapper end -->
<div class="add_banner_wrapper m24_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="add_banner_img_wrapper m24_cover">
                    <a href="#"><img src="~/images/add1.png" class="img-responsive" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partners slider  wrapper Start-->
<div class="partners_Section m24_cover">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="partner_slider_wraper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt1.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt2.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt3.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt4.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt2.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="~/images/prt1.png" alt="partner_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partners slider  wrapper end-->